/* body{
    background-image: url('https://cdn.britannica.com/61/137461-050-BB6C5D80/Brad-Pitt-2008.jpg');
    background-size: cover;
    background-attachment: fixed;
}

div{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */


body{
    background: #E2F7F7;
    background-image: url('https://media.npr.org/assets/img/2013/12/22/gone_home1-eaf4aa2a365f39098a940bd6d0324be64298b2e6.jpg?s=1100&c=50&f=jpeg');
    background-size: cover;
    background-position: top;
    
}

#demo{
    height: 150px;
    width: 150px;
    /* background: red; */
    background-image: url('../img/target.png');
    background-size: cover;
    background-position: center;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}